*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
 header{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 100px;
        display: flex;
      justify-content: space-between;
      align-items: center;  
      background: white;
    }  
    header .logo{
      position: relative;
      width: 60px;
    }
    header .logs{
      position: absolute;
      top: 50px;
      left: 164px;
      width: 90px;
    }
    header ul{
      position: relative;
      display: flex;         
    }  
    header ul li{
      list-style: none;
    }
    header ul li a{
      display: inline-block;
      color: #112434;
      font-weight: 400;
      margin-left: 40px;
      text-decoration: none;
      transition: 0.5s;
    }
    header ul li a:hover{
      color: blue;
      border-radius: 40px;
    }
    button{
      width: 150px;
      height: 50px;
      border-radius: 10px;
      background: #58A9A5;
      box-shadow: 0px 0px 5px black;
      transition: 0.4s;
      border-style: none;
      cursor: pointer;
    }
    button:hover{
      background: #58A9A5;
      border: none;
      color: white;
    }
    .border-top{
      position: absolute;
      width: 30px;
      height: 3px;
      left: 575px;
      top: 70px;
      background: #FEC62D;
      border-radius: 40px;
    }
    .about{
      width: 100%;
      display: flex;
    }
     .contentBx{
      padding: 190px;
      width: 100%;
      font-size: 36px;
      font-weight: 600px;
    }
    .text{
      color: #404242;
      font-size: 19px;
      font-weight: 400;
      letter-spacing: 1.5px;
      line-height: 35px;
      margin-top: 50px;
      margin-right: 660px;
      font-family: 'Poppins';
    }
    .go-button{
      width: 200px;
      transition: 0.4s;
      margin-top: 50px;
      box-shadow: 0px 0px 10px black;
      border-radius: 20px 20px 20px 0px;
      
     }
    button:hover{
    background: white;
    background: #58A9A5;
    }
    .imgBx2>img{
      width: 450px;
      height: 550px;
      position: absolute;
      top: 150px;
      left: 850px;
    }
     .imgBx>img{
      width: 35%;
      height: 100%;
      background-size: cover;
      position: absolute;
      top: 70px ;  
      left: 800px;
    }
    h1{
      text-align: center;
      margin-top: 150px;
      font-size: 60px;
    }
    .project-bottom{
      width: 750px;
      height: 50px;
      font-size: 25px;
      font-weight: 30px;
      margin-left: 350px;
    }
    .display-img>img{
      width: 750px;
      height: 250px;
    }
   .section-block{
    position: absolute;
    width: 350px;
    height:250px;
    left: 940px;
    top: 936px;
    background: #CCF0E6;
    border-radius: 0px 10px 10px 0px;
   }
   .section-block>p{
    width: 250px;
    height: 250px;
    font-size: 18px;
    font-weight: 600px;
    margin-top: 40px;
    margin-left: 50px;
   }
   h6{
    width: 250px;
    height: 150px;
    font-size: 15px;
    margin-left: 800px;
    position: absolute;
    top: 1100px;
   }
   .class-bottom{
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 65px;
    margin-left: 696px;
    position: absolute;
    top: 1050px;
   }
   .section-list{
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 65px;
    margin-left: 10px;
    position: absolute;
    top: 10px;
   }
   .section-list>img{
    position: absolute;
    top: 20px;
    left: 30px;
   }
   .work_img>img{
     width: 450px;
     height: 450px;
     margin-top: 90px;
   }
   .work_img>h2{
    width: 550px;
    height: 250px;
    margin-left: 550px;
    position: absolute;
    top: 1266px;
   }
   .work_img>p{
    width: 350px;
    height: 650px;
    font-size: 20px;
    font-weight: 50px;
    line-height: 30px;
    margin-left: 550px;
    position: absolute;
    top: 1490px;
  } 